.rowImage {
  display: flex;
}

.columnImage {
  flex: 50%;
  padding: 5px;
}

.centerClusters {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.message {


  width: 80%;
  height: auto;
    margin: 0 auto;
    position: relative;
      background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 10px;
}

