.rowImage {
  display: flex;
}

.columnImage {
  flex: 50%;
  padding: 5px;
}

.centerClusters {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.row {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
#slide {
  width: 50%;
}



