{% extends 'admin/master.html' %}
 {% block head %}
<link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">

  {% endblock head%}
{% block body %}



<!-- Content Header (Page header) -->



      <div class="backgroundDiv" style="background-image: url('static/img/image_home.jpg'); justify-content: center;
     height: 100%; background-size: cover;">
        <div class="message">
            <h1>TOPIC: Exploring Tourist Profiles across Different Preferences and Regions</h1>
            <h3>Description:  Fuse data from travel platforms and social media to draw interesting conclusions and build informative visualizations regarding touristic experiences in Greece and abroad.</h3>
			      <ol>
<!-- Start of ordered list. Paragraphs cannot contain lists. Insert </p> -->
<li>Collect tourist reviews and tourist profiles from travel platforms. Also, collect tourists’ social media posts for related  tourist experiences.</li>
      <li>Build machine learning models to predict user characteristics, which may be useful for assigning users into clusters, utilizing user profile building methods to identify user traits.</li>
      <li>Explore and visualize potential user clusters to identify different typesof tourists across different locations, utilizing user segments and community detection methods to identify user clusters.</li>
      <li>Detect and visualize user emotion to explore the differences insatisfaction between different tourism types and locations, utilizing emotion detection and sentiment analysis methods.</li>
      <li>Explore and visualize emerging topics on social media and tourists’reviews related to tourism in the aforementioned locations, utilizing topic detection methods to identify emerging topics.</li></ol>
						</div>

  </div>





{% endblock body %}