{% extends 'admin/master.html' %}
 {% block head %}
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">

  {% endblock head%}
{% block body %}



<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Machine Learning
  </h1>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->

  <!-- /.row -->
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-5 ">
      <!-- Custom tabs (Charts with tabs)-->

      <!-- /.nav-tabs-custom -->
 <!-- WordClouds box -->
      <div class="box box-solid bg-light-blue-gradient">
        <div class="box-header">
          <!-- tools box -->
          <div class="pull-right box-tools">

            <button type="button" class="btn btn-primary btn-sm daterange pull-right" title="Date range">
              <i class="fa fa-calendar"></i></button>
          </div>
          <!-- /. tools -->

          <i class="fa fa-cloud"></i>

          <h3 class="box-title">
            Wordclouds
          </h3>
        </div>

        <div id = "wordclouds" class="box-body" >
          <h3 style="color: white">Positive wordcloud</h3>
          <div id="positive_wordcloud" style="background-color: white"></div>
          <h3 style="color: white">Negative wordcloud</h3>
          <div id="negative_wordcloud" style="background-color: white"></div>

<!--            <img id="wordcloud" src="/static/img/wordcloud.png" alt="">-->

        </div>
      </div>
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->

    <!-- right col -->
  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->
<div class="modal" id = "modalLDA" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose season</h4>
      </div>
      <div class="modal-body">
<div class="list-group">
  <a href="lda/Winter" target="_blank" class="list-group-item list-group-item-action">
    Winter
  </a>
  <a href="lda/Autumn" target="_blank" class="list-group-item list-group-item-action">Autumn</a>
  <a href="lda/Spring" target="_blank" class="list-group-item list-group-item-action">Spring</a>
  <a href="lda/Summer" target="_blank" class="list-group-item list-group-item-action">Summer</a>
  <a href="lda/Overall" target="_blank" class="list-group-item list-group-item-action">Overall</a>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock body %}