{% extends 'admin/master.html' %}
 {% block head %}
<link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<link href="{{url_for('static',filename='css/userClustering.css')}}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">


<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script src="{{url_for('static',filename='js/pages/dashboard2.js')}}"></script>

  {% endblock head%}
{% block body %}
<!-- Emotion -->



<!-- Content Header (Page header) -->


<section class="content">
  <!-- Small boxes (Stat box) -->

  <!-- /.row -->
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
{#    <section class="col-lg-5 ">#}
      <!-- Custom tabs (Charts with tabs)-->

      <!-- /.nav-tabs-custom -->
 <!-- WordClouds box -->
      <div class="box box-solid bg-light-blue-gradient">
        <div class="box-header">
          <!-- tools box -->
          <div class="pull-right box-tools">

            <button type="button" data-toggle="modal" data-target="#modalCity" class="btn btn-primary btn-sm pull-right" title="">
              <i class="fa fa-globe"></i></button>
          </div>
          <!-- /. tools -->

          <h3 class="box-title">
            VADER sentiment scores for top 10 cities
          </h3>
        </div>

        <div  class="box-body" >
       <!-- Left col -->

      <h3 id="titleHistogram" style="color: white">Athens, Greece</h3>
          <div id="top10histogram"></div>
<p>
For the sentiment prediction we utilized a pretrainedmodel from NLTK library called Vader. Each review is as-signed a score in the range [-1, 1], where positive reviews areassigned a positive number that varies according to the in-tensity of the emotion.
  <br></br>On the other hand, negative reviews are assigned a negative number that also varies according tothe intensity of the emotion.In order to better illustrate the sentiment scores for each location we plotted histograms for each location containing the distribution of scores and their frequencies. The scores are distributed in 4 bins so asto provide a more cohesive interpretation
</p>
<!--            <img id="wordcloud" src="/static/img/wordcloud.png" alt="">-->

        </div>
      </div>
{#    </section>#}
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->

    <!-- right col -->
  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->
<div class="modal" id = "modalCity" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose city</h4>
      </div>
      <div class="modal-body">
<div class="list-group" id="top10cityList">
  <a class="list-group-item list-group-item-action">Athens, Greece</a>
  <a class="list-group-item list-group-item-action">Barcelona, Spain</a>
  <a class="list-group-item list-group-item-action">Crete, Greece</a>
  <a class="list-group-item list-group-item-action">Dubai, United Arab Emirates</a>
  <a class="list-group-item list-group-item-action">London, United Kingdom</a>
    <a class="list-group-item list-group-item-action">Mykonos, Greece</a>
  <a class="list-group-item list-group-item-action">New York City, New York</a>
  <a class="list-group-item list-group-item-action">Paris, France</a>
  <a class="list-group-item list-group-item-action">Rome, Italy</a>
      <a class="list-group-item list-group-item-action">Santorini, Greece</a>

</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock body %}